<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.weunion"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.weunion.Login"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.weunion.Menu"
            android:label="@string/title_activity_menu"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.weunion.Main_menu"
            android:label="@string/title_activity_main_menu"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.weunion.Event"
            android:label="@string/title_activity_event"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.weunion.CreateEvent"
            android:label="@string/title_activity_create_event"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.weunion.EventDetail"
            android:label="@string/title_activity_event_detail"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.weunion.Msgbox"
            android:label="@string/title_activity_msgbox"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.example.weunion.Polling"
            android:label="@string/title_activity_polling"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.weunion.CreateOption"
            android:label="@string/title_activity_create_option"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.weunion.Create_Option"
            android:label="@string/title_activity_create__option"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.weunion.Vote"
            android:label="@string/title_activity_vote"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.weunion.Schedule"
            android:label="@string/title_activity_schedule"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.weunion.EventMenu"
            android:label="@string/title_activity_event_menu"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.weunion.EventByMe"
            android:label="@string/title_activity_event_by_me"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.weunion.Select_Event"
            android:label="@string/title_activity_select__event"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.weunion.GuestList"
            android:label="@string/title_activity_guest_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.weunion.Vote_Option"
            android:label="@string/title_activity_vote__option" >
        </activity>
        <activity
            android:name="com.example.weunion.EventInfo"
            android:label="@string/title_activity_event_info" >
        </activity>
        <activity
            android:name="com.example.weunion.Friend"
            android:label="@string/title_activity_friend" 
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
